@function pxTorem($px) {
  @return $px / 75 * 1rem;
}
.arrows{
  width: pxTorem(80);
  height: pxTorem(46);
  position: absolute;
  animation: arrows 0.8s linear infinite;
}
@keyframes arrows {
  0%{opacity: 0;bottom:pxTorem(65);}
  50%{opacity: 1;}
  100%{opacity: 0;bottom:pxTorem(260);}
}
