#Home{
  #mobPreLogin_Letter{
    * {
      touch-action: none;
    }
    width: 100%;
    height: 100%;
    .scrollView{
      touch-action: none;
    }
    .slider {
      .slider-decorator-0{
        display: none;
      }
      .slider-decorator-1{
        display: none;
      }
      .slider-decorator-2{
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px){
  #Home{
    width: 414px;
    height: 736px;
    margin: auto auto;
  }
}
