@function pxTorem($px) {
  @return $px / 75 * 1rem;
}
#Setion3{
  width: 100%;
  height: 100%;
  background: url('../static/img/share/share_bg.png');
  background-size: 100% 100%;
  .containers{
    width: 100%;
    height: 100%;
    position: relative;
    >img{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    >div{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .title{
    font-size: pxTorem(52);
    font-weight: bold;
    color: #333;
    top: pxTorem(175);
    z-index: 2;
  }
  .title_bottom{
    width: pxTorem(488);
    height: pxTorem(23);
    top: pxTorem(222);
  }
  .message{
    width: pxTorem(528);
    font-size: pxTorem(36);
    color: #333;
    text-align: center;
    padding: pxTorem(25);
    top: pxTorem(325);
    background: #ffee99;
    border-radius: pxTorem(35);
    box-shadow: pxTorem(5) pxTorem(10) 0 #e99505;
  }
  .item_box{
    .itemName{
      font-size: pxTorem(63);
      color: #333;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      .split{
        margin-top: pxTorem(20);
        width: pxTorem(88);
        height: pxTorem(10);
        background: #b57405;
      }
    }
    .item_message{
      font-size: pxTorem(28);
      color: #333;
      margin-top: pxTorem(35);
    }
  }
  .item1{
    top: pxTorem(540);
  }
  .item2{
    top: pxTorem(858);
  }
}
